appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cssselect==1.2.0
dateparser==1.2.0
demjson3==3.0.6
facebook-scraper==0.2.59
fake-useragent==2.0.2
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
instaloader==4.14
joblib==1.4.2
lxml==5.3.0
lxml_html_clean==0.4.1
nltk==3.9.1
parse==1.20.2
pyee==11.1.1
pyppeteer==2.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytube==15.0.0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
requests-html==0.10.0
six==1.17.0
soupsieve==2.6
textblob==0.18.0.post0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
w3lib==2.2.1
websockets==10.4
zipp==3.21.0
